
{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}


<!-- https://play.tailwindcss.com/MIwj5Sp9pw -->
<div class="py-16">
    <div class="flex bg-white rounded-lg shadow-lg overflow-hidden mx-auto max-w-sm lg:max-w-4xl">
        <div class="hidden lg:block lg:w-1/2 bg-cover"
           style="background-image:url('{% static 'login.jpg' %}')">
        </div>
        <div class="w-full p-8 lg:w-1/2">
            <h2 class="text-2xl font-semibold text-gray-700 text-center">MyTEC</h2>
            <p class="text-xl text-gray-600 text-center">¡Bienvenido de nuevo!</p>
            
            <form>
            {% load i18n %}
            <p>{% blocktrans %}
            <div class="mt-4 flex items-center justify-between">
                <span class="border-b w-1/5 lg:w-1/4"></span>
                <a href=""></a> {% endblocktrans %}</p>
                <a class="login" method="POST" action="{% url 'account_login' %}" >
                <span class="border-b w-1/5 lg:w-1/4"></span>
            </div>
            {% csrf_token %}
             {{ form.as_p }}
             {% if redirect_field_value %}
            <div class="mt-4">
                <label class="block text-gray-700 text-sm font-bold mb-2">Email Address</label>
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            </div>
            {% endif %}
            <div class="mt-4">
                <div class="flex justify-between">
                    <label class="block text-gray-700 text-sm font-bold mb-2">Password</label>
                    <a href="#" class="text-xs text-gray-500">Forget Password?</a>
                </div>
                <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>            </div>
            <div class="mt-8">
                <button class="bg-gray-700 text-white font-bold py-2 px-4 w-full rounded hover:bg-gray-600">Login</button>
            </div>
            <div class="mt-4 flex items-center justify-between">
                <span class="border-b w-1/5 md:w-1/4"></span>
                <a href="{{ signup_url }}">registrate</a> </p>
                <span class="border-b w-1/5 md:w-1/4"></span>
            </div>
           </form>
        </div>
    </div>
</div>

{% endblock %}
